:host {
    background: #fbfaf9;
    color: #fff;
    position: fixed;
    left: 0;
    top: 51px;    
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba( 0, 0, 0, .4 );
    overflow-y: auto;
     overflow-x: hidden;
     
  }
  
  ul {
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
    list-style: none;
  }
  li{
      padding: 0.5em; 
  }
  a{
    color: #423f3f;
    border: none;
    text-decoration: none;   
  }
  a:hover{
    color: #e25f10;   
  }
 