<div style="background: #fff;;">
  <img src="http://10.138.77.141:8055/assets/logo.png" alt="Agility Logo">
</div>
<div>
    <ul>
        <li>
         
              <a href="javascript:void(0);">
                    <i class="material-icons">dashboard</i> &nbsp;<span>Dashboard</span>
                 
              </a>
          
         </li>
            
        <li>
         
              <a href="javascript:void(0);">
                    <i class="material-icons">directions_boat</i>&nbsp; <span>Shipments</span>
                 
              </a>
         
        </li>
        <li>
        
              <a href="javascript:void(0);">
                    <i class="material-icons">airport_shuttle</i>&nbsp; <span>Containers</span>
                 
              </a>
         
        </li>
        <li>
         
              <a href="javascript:void(0);">
                    <i class="material-icons">shopping_basket</i> &nbsp;<span>Orders</span>
                 
              </a>
        
        </li>
        <li>
        
              <a href="javascript:void(0);">
                    <i class="material-icons">dns</i> &nbsp; <span>Projects</span>
                
              </a>
            
          </li>
        <li>
         
              <a href="javascript:void(0);">
                    <i class="material-icons">library_books</i> &nbsp;  <span>Documents</span>
               
              </a>
        
        </li>
        <li> 
         
              <a href="javascript:void(0);">
                    <i class="material-icons">group</i> &nbsp; <span>Customers</span>
                
              </a>
         
        </li>
        <li>
        
              <a href="javascript:void(0);">
                    <i class="material-icons">account_balance</i> &nbsp;<span>Warehousing</span>
                 
              </a>
         
        </li>
      </ul>
</div>

